.container {
  width: 100%;
  max-width: 720px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-group {
  width: 100%;
}

.btn-main,
.btn-white {
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: var(--color-main);
  width: 90%;
  border-radius: 0.18rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  border: none;
  transition: all 100ms ease-out;
}

.btn-white {
  background-color: white;
  color: var(--color-text);
}

.btn-main:hover {
  background-color: #87aeda;
  text-shadow: 0 0 10px black;
  opacity: 80%;
}

.btn-white:hover {
  background-color: var(--color-third);
  color: white;
  text-shadow: 0 0 10px black;
  opacity: 80%;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  padding: 0.75rem 0;
}

.inner-container {
  width: 100%;
  margin-top: 1rem;
}

.card {
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
