.notice,
.alert {
  margin-top: 0.5rem;
  width: fit-content;
  max-height: 20%;
  background-color: var(--color-second);
  color: white;
  text-align: center;
}

.alert {
  background-color: #b00707;
}
