<% provide(:title, "CATEGORY") %>
<% if can? :manage, @category %>
  <div id="categories" class="inner-container flex" >
    <%= render @category %>
  </div>
  <div id="expenses" class="inner-container flex">
    <%= render @expenses %>
  </div>

  <%= link_to "New expense", new_category_expense_path(@category, @expense), class: "btn-main" %>
  <%= link_to "Edit this category", edit_category_path(@category), class: "btn-white" %>
<% else %>
    <h2>Not your CATEGORY. Go Back.</h2>
<% end %>
